body{
    background:#fffff3;     
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}

.marketing{
           text-align: center;
}

.marketing h1 {
margin: 20px 0 10px;
font-size: 30px;
font-weight: 200;
line-height: 1;
letter-spacing: -1px;

}


#dropzone {
margin: 30px 0;
-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.13);
box-shadow: 0 0 50px rgba(0,0,0,0.13);
padding: 4px;
-webkit-border-radius: 3px;
border-radius: 3px;
}


.dropzone {
border: 1px solid rgba(0,0,0,0.03);
min-height: 260px;
-webkit-border-radius: 3px;
border-radius: 3px;
background: rgba(0,0,0,0.03);
padding: 23px;
}


.dropzone .dz-default.dz-message {
background-image: url("../images/spritemap@2x.png");
-webkit-background-size: 428px 406px;
-moz-background-size: 428px 406px;
background-size: 428px 406px;
}

.presentation-details{
 padding-top:5px;
}

h1.leading{
   font-size: 30px;            
}

h2.leading-city{			
 margin-top: 0px;
 margin-bottom: 0px;
 font-size:15px;
}

h2.leading{
   font-size: 22px;
   color: #0088aa;            
}

.footer{
   padding-top:30px;
}

#hidden_field_for_meetup_id{
   visibility:hidden;
}

.meetup_logo_large{
   /*  box-shadow: 5px 5px 2px #888888; */
}

#add_meetup{
    padding-top:10px;
    padding-bottom:10px;
}

.meetup-row{
    padding-bottom:10px;
    padding-top:5px;            
}

#meetup-list-title{
  padding-bottom:10px;
}

.meetup-item{
  width: 200px;
  min-height:250px;
  min-width:250px;
  padding-right:20px;
  padding-left:20px
}

.item { width: 25%; }
.item.w2 { width: 50%; }

.all-meetups-list{
  margin-left:60px;                  
}


.meetup-name-over-photo{
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(22,24,27,0)), color-stop(72px, rgba(22,24,27,0.7)), color-stop(100%, rgba(22,24,27,0.9)));
    background: -webkit-linear-gradient(top, rgba(22,24,27,0), rgba(22,24,27,0.7) 72px, rgba(22,24,27,0.9));
    background: -moz-linear-gradient(top, rgba(22,24,27,0), rgba(22,24,27,0.7) 72px, rgba(22,24,27,0.9));
    background: -o-linear-gradient(top, rgba(22,24,27,0), rgba(22,24,27,0.7) 72px, rgba(22,24,27,0.9));
    background: -ms-linear-gradient(top, rgba(22,24,27,0), rgba(22,24,27,0.7) 72px, rgba(22,24,27,0.9));
    background: linear-gradient(top, rgba(22,24,27,0),rgba(22,24,27,0.7) 72px,rgba(22,24,27,0.9));
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 27px;
    display: block;
    color: #fff;
    padding: 50px 15px 20px;
    orphans: 2;
    vertical-align: bottom;
    width: 94%;
    max-height:200px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size:16px;
}

.single-card{
   position:relative;      
}

.meetup-info{    
    background-color:#fff; 
    color:#777;                    
    width: 197px;
    position: relative;
    top: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;    
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.meetup-info-uploads{
    margin-top: 10px;
    position: relative;
    margin-left: 9px;
    margin-bottom: 12px;                    
}

.meetup-info-slides{
    font-size: 12px;
    font-family: helvetica,arial,sans-serif;           
}

.meetup-info-slides-normal{
    font-weight: normal;                               
}

#index-banner{
   margin-bottom:45px;
                 
}

.banner{	
	padding-top:20px;
	margin-top:-20px;
	margin-bottom: 20px;
	background-color: #1c2533;
	background: -webkit-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: -o-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: -ms-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: -moz-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: linear-gradient(20deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background-attachment: fixed;
	color: #fff;
	text-align: center;	
}


.slides-container div{
    margin-bottom:10px;				
}

.slides-container img{
    margin-right:10px;					
}

.upload-promo{
   padding-left:45px;
   text-align:center;
   padding-top:95px;
   line-height:1.6em;  	
   color: #dd4814;
   font-weight:bold;	
}


.add-meetup-button{
  margin-bottom:40px;
}


