{% extends "base.html" %}

{% block content %}
  <h3>Add new slides</h3>
  
  <div class="row">
    
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
      <fieldset>
        <div class="control-group">
          <label for="input01" class="control-label" >Meetup</label>
          <div class="controls">
            <select name="meetup_id" id="meetup_id">
              {% for meetup in meetups %}
                <option value="{{ meetup.id }}" {% if meetup.id == selected_meetup_id %}
                  selected="selected"
                {% endif %}>{{ meetup.city }} - {{ meetup.name }}</option>
              {% endfor %}
            </select> - <a href="#" id="show_add_meetup">Add Meetup</a>
            <div id="add_meetup_wrapper" style="display:none;">
              {% include "_meetup.html" %}
            </div>
          </div>
        </div>
        <div class="control-group">
          <label for="input01" class="control-label" >Presentation Title</label>
          <div class="controls">
            <input type="text" id="input01" class="input-xlarge" name='title'>
            <p class="help-block">E.g. An Introduction to Redis </p>
          </div>
        </div>
        <div class="control-group">
          <label for="input01" class="control-label" >Speaker Name</label>
          <div class="controls">
            <input type="text" id="input01" class="input-xlarge" name='author'>
          </div>
        </div>
        <div class="control-group">
          <label for="textarea" class="control-label">Description</label>
          <div class="controls">
            <textarea rows="3" id="textarea" class="input-xlarge" name="desc"></textarea>
          </div>
        </div>
        <div class="control-group">
          <label for="fileInput" class="control-label">File input</label>
          <div class="controls">
            <input type="file" name="slides" id="fileInput" class="input-file">
          </div>
        </div>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Save changes</button>
          <button class="btn">Cancel</button>
        </div>
      </fieldset>
    </form>
    
  </div>
  
{% endblock %}