<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="Bharad">
    
    {% block defaulthead %}
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/cerulean.bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/master.css') }}">

      <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
      <script src="{{ url_for('static', filename='js/master.js') }}" type="text/javascript" charset="utf-8"></script>
      
      <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
          $('#show_add_meetup').click(show_add_meetup);
          $('#add_meetup_wrapper button').click(add_meetup);
          // $('.topbar .pull-right').dropdown();
          // $('.alert-message a.close').click(close_notification_alert);
         });
      </script>

       <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
       <!--[if lt IE 9]>
         <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
      
        <style type="text/css" media="screen">
          .show-grid [class*="span"] {
              background: none repeat scroll 0 0 #EEEEEE;
              border-radius: 3px 3px 3px 3px;
              line-height: 30px;
              min-height: 30px;
              text-align: center;
          }
        </style>
    {% endblock %}
    
    {% block head %}
      
    {% endblock %}
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>

  <body class="{% block bodyclass %}{% endblock %}">
    
    <div class="container">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">Meetup Slides</a>
          <div id="main-menu" class="nav-collapse">
           <ul id="main-menu-left" class="nav">
             <li><a href="/add" id="swatch-link">Add</a></li>
    	       <li><a href="/meetups" id="swatch-link">Meetups</a></li>
    	       <li><a href="/contact" id="swatch-link">Contact</a></li>
    	       <li><a href="/jobs" id="swatch-link">Jobs</a></li>
    	     </ul>
          </div>
        </div>
      </div>
    </div>

     <section id="typography">
       <div class="page-header">
         {% block page_title %}

          {% endblock %}
       </div>

       <!-- Headings & Paragraph Copy -->
       <div class="row">

         {% block content %}

         {% endblock %}

       </div>
     </section>

     <footer>
       <p>&copy; Slides 2012</p>
     </footer>

    </div>
  </body>
</html>
