{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="marketing">
        <h1>Share your Meetup Presentations</h1>
    </div>  
    <div id="dropzone">
        <form action="/file-upload"
            class="dropzone"
            id="my-awesome-dropzone"></form>
    </div>
</div>

<div class="row">
  <div class="control-group">
    <form action="/search" method="POST" accept-charset="utf-8">
      <input type="text" name="q" value="" id="q" class="input-xlarge"/>
      <p><input type="submit" value="Search"/></p>
      <p>Search for slides. E.g. Flask</p>
    </form>
  </div>
</div>

<div class="row">
  <h3>Recent Slides</h3>
  {% include "_posts.html" %}
</div>

{% endblock %}