{% extends "base.html" %}


{% block head %}
    <script type="text/javascript" charset="utf-8">
    
    $(document).ready(function(){
        var $container = $('#meetup-container');
        // initialize
        $container.masonry({
          columnWidth: 250,
          itemSelector: '.meetup-item'
        });
    });
      
    </script>
{% endblock %}

{% block banner %}
<div class="row banner">
    <div class="marketing" id="index-banner">
        <h1>Join other speakers in sharing </h1>
        <h1>your meetup slides</h1>
    </div>  
</div>
{% endblock %}
         
{% block content %}


{#}
<div class="row">
  <div class="control-group">
    <form action="/search" method="POST" accept-charset="utf-8">
      <input type="text" name="q" value="" id="q" class="input-xlarge"/>
      <p><input type="submit" value="Search"/></p>
      <p>Search for slides. E.g. Flask</p>
    </form>
  </div>
</div>
#}
<div class="row all-meetups-list">
  <div class="container" id="meetup-container">  
  {% for meetup in meetups %}                 
        <div class="meetup-item">  
               <div class="single-card">          
                    <a href="/meetup/{{ meetup.id }}">
                        <img class="meetup_logo_large" src="/static/img/avtars/{{ meetup.id | convert_to_image_id }}" height=150 width=197 />
                        <div class="meetup-name-over-photo">                            
                            {{ meetup.city }} - {{ meetup.name }}
                        </div>                                
                    </a>
                </div>
                <div class="meetup-info">
                   <p class="meetup-info-uploads">
                    <span class="meetup-info-slides">Slides Uploaded : <span class="meetup-info-slides-normal">5</span>
                   </p>
                </div>
        </div>
  {% endfor %}
  </div>
</div>  

{#}
<div class="row">
  <h3>Recent Slides</h3>
  {% include "_posts.html" %}
</div>
#}

{% endblock %}

